# C development
*.o
*.ko
*.obj
*.elf
*.lib
*.a

*.out
*.dll
*.so
*.so.*
*.dylib

#Ignore for 313 assignment 
cache-ref.o

code/cache-ref
code/cache-test
code/timelife


*.mem
*.s
fetch 
./fetch 

# Java development
*.class
*.jar
*.war
*.ear
.classpath
.project

# Common text editor backup files
*~
\#*\#
.emacs.desktop
.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
.org-id-locations
*_archive

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
